*{
    /* Evita a cor azul de seleção do navegador quado um item é clicado */
    -webkit-tap-highlight-color: transparent;
}

.logo{
    font-size: 20px;
    margin-left: 12px;
    font-weight: 300;
    text-shadow: 0px 1px 1px #43833C;
}

.logo span{
    font-weight: 400;
}

.logo .status{
    font-weight: 300;
}

/* Aba destacada */
.tabs li.tab a:hover{
    color: #43a047;
}
.tabs .indicator{
    background-color: #43a047;
}

/* Espaço lateral do container */
.container {
    width: 95%;
}

span.badge.new:after {
    content: "";
}

.collection, .collection .collection-item{
    border: none;
}

.collection{
    margin-bottom: 0px;
}

small{
    margin-left: 5px;
}

li a i{
    color: #43a047;
}

#loading{
    margin-top: 10px;
}

.card .card-content .card-title {
    line-height: 32px;
}

/* Nav */
nav .nav-container{
    overflow: auto;
    padding: 0 12px;
}

nav #slide-out{
    line-height: 48px;
}

nav #slide-out li{
    padding: 0;
}

nav #slide-out li:hover{
    background-color: #f5f5f5;    
}

nav #slide-out a{
    width: 100%;
    padding: 0px 30px;
}

nav #slide-out .fa{
    color: #333;
    font-size: 26px;
    position: relative;
    top: 3px;
    margin-right: 8px;
}

nav #slide-out .divisor{
    border-top: 1px solid #ddd;
    margin: 6px 0;
}

nav #slide-out .title{
    font-size: 1rem;
    color: #444;
    padding: 0px 30px;
    font-weight: 500;
}

nav #slide-out .brand{
    background-color: #f7f7f7;
}

nav #slide-out .brand:hover{
    background-color: transparent;
}

nav #slide-out .brand a{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    text-shadow: 0px 1px 1px #43833C;
}

nav #slide-out .brand a span{
    font-weight: 400;
}

nav #slide-out .title:hover{
    background: transparent;
}

nav a.button-collapse {
  display: block !important;
}